<style type="text/css">
  span{
    color:red;
  }
</style>
<ion-header>
  <ion-navbar color="top">
    <ion-title style="float:left;margin-top: 10px;">Transaction - New Estimate</ion-title>
    <button style="float:right;" ion-button color="dark" clear (click)="modalClose()">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content padding id="cont">

    <ion-item>
        <h2 item-center>Customer Information</h2>
        <ion-item (click)="expands()">
            Customer Information             
            <ion-item *ngIf="expanded" >
                 <ion-grid>
                <ion-row>
                    <ion-col width-33>
                        <ion-item>
                            <ion-label floating>First Name<span>*</span></ion-label>
                            <ion-input class="completeMe" id="firstName" type="text" [(ngModel)]="data.first" value=""></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col width-33>
                        <ion-item>
                            <ion-label floating>Middle Name</ion-label>
                            <ion-input type="text" [(ngModel)]="data.middle" value=""></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col width-33>
                        <ion-item>
                            <ion-label floating>Last Name<span>*</span></ion-label>
                            <ion-input type="text" [(ngModel)]="data.last" value=""></ion-input>
                        </ion-item>
                    </ion-col>
                      <ion-col width-33>
                        <ion-item>
                            <ion-label floating>No. & St./Bldg.<span>*</span></ion-label>
                            <ion-input type="text" [(ngModel)]="data.st" value=""></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                </ion-grid>
            </ion-item>  
        </ion-item>
      </ion-item>


    <ion-segment [(ngModel)]="info">
        <ion-segment-button value="customer">
            Customer Information
        </ion-segment-button>
        <ion-segment-button value="vehicle">
            Vehicle Information
        </ion-segment-button>
        <ion-segment-button value="inspection">
            Estimation Details
        </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="info">
        <ion-list *ngSwitchCase="'customer'">
            <ion-grid>
                <ion-row>
                    <ion-col width-33>
                        <ion-item>
                            <ion-label floating>First Name<span>*</span></ion-label>
                            <ion-input class="completeMe" id="firstName" type="text" [(ngModel)]="data.first" value=""></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col width-33>
                        <ion-item>
                            <ion-label floating>Middle Name</ion-label>
                            <ion-input type="text" [(ngModel)]="data.middle" value=""></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col width-33>
                        <ion-item>
                            <ion-label floating>Last Name<span>*</span></ion-label>
                            <ion-input type="text" [(ngModel)]="data.last" value=""></ion-input>
                        </ion-item>
                    </ion-col>
                      <ion-col width-33>
                        <ion-item>
                            <ion-label floating>No. & St./Bldg.<span>*</span></ion-label>
                            <ion-input type="text" [(ngModel)]="data.st" value=""></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col width-50>
                        <ion-item>
                            <ion-label floating>Brgy./Subd.<span>*</span></ion-label>
                            <ion-input type="number" [(ngModel)]="data.brgy" value=""></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col width-50>
                        <ion-item>
                            <ion-label floating>City/Municipality<span>*</span></ion-label>
                            <ion-input type="number" [(ngModel)]="data.city" value=""></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col width-50>
                        <ion-item>
                            <ion-label floating>Contact<span>*</span></ion-label>
                            <ion-input type="number" id="cp" [(ngModel)]="data.contact" value=""></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col width-50>
                        <ion-item>
                            <ion-label floating>Email</ion-label>
                            <ion-input type="email" [(ngModel)]="data.email" value=""></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list>
        <ion-list *ngSwitchCase="'vehicle'">
            <ion-grid>
                <ion-row>
                    <ion-col width-33>
                        
                        <ion-item>
                            <ion-label floating>Vehicle Plate<span>*</span></ion-label>
                            <ion-input type="text" [(ngModel)]="data.plate" value=""></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col width-33>
                        
                        <ion-item>
                            <ion-label floating>Vehicle Make<span>*</span></ion-label>
                            <ion-input type="text" [(ngModel)]="data.make" value=""></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col width-33>
                        
                        <ion-item>
                            <ion-label floating>Vehicle Model<span>*</span></ion-label>
                            <ion-input type="text" [(ngModel)]="data.model" value=""></ion-input>
                        </ion-item>
                    </ion-col>

                </ion-row>
                <ion-row>
                    <ion-col width-33>
                        
                        <ion-item>
                            <ion-label floating>Vehicle Year<span>*</span></ion-label>
                            <ion-input type="text" [(ngModel)]="data.year" value=""></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col width-33>
                        
                        <ion-item>
                            <ion-label floating>Vehicle Type<span>*</span></ion-label>
                            <ion-input type="text" [(ngModel)]="data.type" value=""></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col width-33>
                        
                        <ion-item>
                            <ion-label floating>Vehicle Engine<span>*</span></ion-label>
                            <ion-input type="text" [(ngModel)]="data.engine" value=""></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col width-33>
                       
                    </ion-col>
                    <ion-col width-33>
                        
                        <ion-item>
                            <ion-label floating>Vehicle Mileage</ion-label>
                            <ion-input type="text" [(ngModel)]="data.mileage" value=""></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col width-33>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list>
        <ion-list *ngSwitchCase="'inspection'">

             <ion-row>
              <ion-col width-33>
                    <ion-item>
                        <ion-label><ion-icon ios="ios-paper" md="md-paper"></ion-icon> Assign Technician/s
                        </ion-label>
                            <ion-select multiple="true" [(ngModel)]="data.tech">
                                <ion-option *ngFor="let tech of tech" value="{{tech.id}}">{{tech.technician}}</ion-option>
                            </ion-select>
                    </ion-item>
              </ion-col>
         

  
               <ion-col width-33>
                    <ion-item>
                        <ion-label><ion-icon ios="ios-paper" md="md-paper"></ion-icon> Discount
                        </ion-label>
                            <ion-select multiple="true" [(ngModel)]="data.discount">
                                <ion-option *ngFor="let disc of disc" value="{{disc.id}}">{{disc.name}}</ion-option>
                            </ion-select>
                    </ion-item>
                </ion-col>
           


            
               <ion-col width-33>
                    <ion-item>
                        <ion-label><ion-icon ios="ios-paper" md="md-paper"></ion-icon> Promo
                        </ion-label>
                            <ion-select multiple="true" [(ngModel)]="data.promo">
                                <ion-option *ngFor="let prom of prom" value="{{prom.id}}">{{prom.name}}</ion-option>
                            </ion-select>
                    </ion-item>
                </ion-col>
               </ion-row> 

               <ion-row>
                <ion-col width-33>
                    <ion-item>
                        <ion-label><ion-icon ios="ios-paper" md="md-paper"></ion-icon> Package
                        </ion-label>
                            <ion-select multiple="true" [(ngModel)]="data.packages">
                                <ion-option *ngFor="let pack of pack" value="{{pack.id}}">{{pack.name}}</ion-option>
                            </ion-select>
                    </ion-item>
                    </ion-col>
       


           
               <ion-col width-33>
                    <ion-item>
                        <ion-label><ion-icon ios="ios-paper" md="md-paper"></ion-icon> Product
                        </ion-label>
                            <ion-select multiple="true"  [(ngModel)]="data.product">
                                <ion-option *ngFor="let prod of prod" value="{{prod.id}}">{{prod.product}}</ion-option>
                            </ion-select>
                    </ion-item>
                    </ion-col>
          
           <!--    			<ion-searchbar (ionInput)="getItems($event)">Search</ion-searchbar> -->


            <ion-col width-33>
                <ion-item>
                <ion-label><ion-icon ios="ios-paper" md="md-paper"></ion-icon> Services</ion-label>
                    <ion-select multiple="true"  [(ngModel)]="data.services">
                          <ion-option *ngFor="let user of data" value="{{user.id}}">{{user.name}}</ion-option>
                    </ion-select>
                </ion-item>
                </ion-col>
              </ion-row>

            <ion-row>
                <ion-col width-100>
                    
                    <ion-item>
                        <ion-label floating>Description<span>*</span></ion-label>
                        <ion-input type="text" [(ngModel)]="data.desc" value=""></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col width-100>
                    
                    
                        <ion-label>Total cost: PhP<span>*</span></ion-label> 
                </ion-col>
            </ion-row>

            <ion-card-content>
        
                <h3> <ion-icon ios="ios-filing" md="md-filing"></ion-icon> Items </h3>
            </ion-card-content>
                                                                                  
    	</ion-list>
    </div>

    	<button style="float:right;" ion-button color="dark" (click) ="goEvedJobOrder()">Proceed to Job Order -></button>
        <button style="float:right;" ion-button (click) ="submit()">Save</button>
</ion-content>